@charset "utf-8";

body{background: white;}

h2{
    background: green;
    color: white;
}

.topics dl {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
    
.topics dt {padding-bottom: 5px;}

.topics dd , .topics dt{margin-left: 10%;}
    
@media screen and (min-width: 500px) {
    .topics dl {display: flex;}
}