<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html ; charset='utf-8'">
    <meta name="description" content="このサイトは現在地から付近の喫煙所を紹介するサイトでございます。" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>喫煙所紹介サイト</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="container">
            <h1><span class="brown">喫煙所</span>紹介サイト💨</h1>
        </div>
    </header>
    <main>

        <div class="container">
            <div class="description">
                <div class="left">
                    <img src="/images/smoking.png" alt="喫煙所画像">
                </div>

                <div class="right black_background">
                    <p>当サイトご利用いただきありがとうございます。</p>
                    <p>このサイトは現在地から付近の喫煙所を紹介するサイトでございます。</p>
                    <p>２０１９年１月にできた<span class="green">arch8</span>グループの協力のもと作成いたしました。</p>
                    <p>今後のアップデートの内容は、現在地自動取得、ラインボットに移植を考えております。</p>
                </div>

            </div>
            <div class="latlng black_background">
                <h1>
                    <span class="brown">
                        <%= content%></span>の位置情報</h1>
                <h2>緯度：
                    <%= content1%>
                </h2>
                <h2>経度：
                    <%= content2%>
                </h2>
                <form method="POST" action="">
                    <span>現在地を入力して下さい⇒</span>
                    <input type="text" name="msg">
                    <input type="submit" value="検索" style="color:#000;">
                </form>

            </div>


            <div class="iframe black_background">
                <iframe src=<%=content3%> ></iframe>
            </div>

            <div class="black_background">
                <p><span class="green">arch8</span>では初心者のプログラマーから、<br>社会で活動されている方まで楽しく参加させて頂いております。。</p>
                <p>「プログラムを勉強し始めたから、動くものを作ってみたいな、、」など制作意欲がある方<br>ならどなたでも募集しております。私もプログラム初心者ですのでご安心ください。</p>
                <p>気になられたかたこちらの方にご質問ください！<a href="https://twitter.com/intent/tweet?screen_name=arch8jp&ref_src=twsrc%5Etfw" class="twitter-mention-button"
                    data-show-count="false">Tweet to @arch8jp</a></p>

            </div>
        </div>

    </main>
    <footer>
        <div class="container">
            <div class="footer-content">
                
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <p>&copy;2019 喫煙所紹介サイト</p>
            </div>
        </div>
    </footer>

</body>

</html>